# Python Crash Course - Episode 1

<!-- *In this episode we are going to learn...*
- some differences between Python and other languages (as C or Java);
- how to print a string;
- different data types;
- if, for and while loops. -->


Python is a very intuitive language, and has a very straightforward syntax.

In [ ]:
print("Look how easy this is!")

Look how easy this is!

1.   It uses indentation for blocks, instead of curly braces (as Java). Both tabs and spaces are supported, but the standard indentation requires the use of four spaces (1 tab).  
2.   It is both a *strongly typed* and a *dynamically* typed language. This means that runtime objects always have a type and this matters when performing operations, but also that such type does not determine the variable itself.
3.   Python has inbuilt dynamic memory allocation and deletion processes that enables efficient memory management.

In [ ]:
a = 1
print(type(a))

a = 1.0
print(type(a))

a = "one"
print(type(a))

a = True
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a = 2.2
b = 5
c = "number"

print("We can sum numbers of different types: a + b =", a+b)
print("But not numbers and strings: c + a = ...")
c + a

We can sum numbers of different types: a + b = 7.2
But not numbers and strings: c + a = ...

TypeError: ignored

## Lists

The first data structure we are going to introduce is the list. List elements are written within square brackets `[ ]`, and we can use the `len()` function to determine the length of the data structure. Square brackets are also used to access data, with the first element at index `0`.

In [ ]:
my_first_list = ["muffins", 1, 0.5] # it is possible to concatenate different data types in a list
print(my_first_list)

['muffins', 1, 0.5]

Assignment with an = on lists does not make a copy. Instead, assignment makes the two variables point to the one list in memory.

In [ ]:
# what does this mean?
my_second_list = my_first_list
my_second_list[1] = "cookies"

my_first_list

['muffins', 'cookies', 0.5]

Lists are objects, and we can act on them using methods from their class. Here are some common list methods. Many others can be found in the [official documentation](https://docs.python.org/3/tutorial/datastructures.html).

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just
modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting the remaining elements to the right.
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index.
* `list.remove(elem)` -- searches for the first instance of the given element and removes it.
* `list.sort()` -- sorts the list in place (does not return it).
* `list.reverse()` -- reverses the list in place (does not return it)

In [ ]:
# defining an empty list
mylist = []

# adding some elements
mylist.append(1)
mylist.append(0)

mylist2 = [-2,7,5,10]

# concatenating lists
mylist_new = mylist + mylist2
print(mylist_new)

#playing around
mylist_new.sort()
print(mylist_new)

mylist_new.reverse()
print(mylist_new)

[1, 0, -2, 7, 5, 10]
[-2, 0, 1, 5, 7, 10]
[10, 7, 5, 1, 0, -2]

## The `for` and `in` constructs

The construct `for var in list` is an easy way to look at each element in a list (or other iterable data structure). Here is an example of the syntax.

In [ ]:
squares = [1, 2, 3, 4]
sum = 0
for num in squares:
  sum += num**2
print(sum)

30

In [ ]:
# The range(n) function yields the numbers 0, 1, ... n-1,
# and range(a, b) returns a, a+1, ... b-1
# and range(a,b,c) returns a, a+c, a+2c, ... up to b-1 or the closest number
# This can be used to construct a classic numeric for loop
n = 10
a = 4
b = 19
c = 3
for i in range(a,b,c):
  print(i)

4
7
10
13
16

And here it comes the first exercise:

1.   Write a for code for computing the $20^{th}$ number in the Fibonacci sequence. Print the result.
2.   Modify your code to store the Fibonacci sequence in a list. Print the result.

$$F_{0}=0,\qquad F_{1}=1, \qquad F_{n}=F_{n-1}+F_{n-2}$$

In [ ]:
# your code here
f0 = 0
f1 = 1
fibonacci = [f0, f1]

for i in range(2,21):
  f0, f1 =  f1, f0 + f1
  #fibonacci.append(f1)

#print(fibonacci)
print(f1)

6765

## the `while` and `if` constructs
The `in` construct can be used by itself to check if a variable appears in a list. Booleans can be used as conditions for `while` and if `constructs`. Here an example:

In [ ]:
treats = ["muffins","cookies","chocolate"]

favourite = "pancakes"

print("Is favourite in the treats list? ", favourite in treats)

Is favourite in the treats list?  False

Here is an example of the syntax for the `if` construct

In [ ]:
BSc_at_ICL = False  # Have you done your BSc here at Imperial? If yes, change the variable to True

if BSc_at_ICL:
  print("Welcome to Imperial!")
else:
  print("Welcome back :)")

Welcome back :)

And an example for the `while` construct: the Newton's method for the equation
$f(x) = 0$ for $f(x)=x^3+3x^2-2x-10$

In [ ]:
x = 0 # initial guess
update = 100
tol = 1e-5

while abs(update) > tol:

  f  = x**3+3*x**2-2*x-10
  df = 3*x**2+6*x-2

  update = f/df
  x = x - update

print(x)

1.6890953236376944

In [ ]:
# we can now define f and df as functions instead!

def f(x):
  return x**3+3*x**2-2*x- 10

def df(x):
  # your code here
  return 3*x**2+6*x-2

f(0)

-10

In [ ]:
# and why not, we can do the same for the Newton's method? let's also add a condition on the maximum number of iterations (condition1 and condition2)

def Newton(x0,F,dF,tol,max_iteration):
  # your code here
  update = 100
  x = x0
  iteration = 1
  while abs(update) > tol and iteration<max_iteration:
    F = x**3+3*x**2-2*x-10
    dF = 3*x**2+6*x-2
    update = F/dF
    x = x - update
    iteration += 1
  return x

In [ ]:
# and here we can evaluate the function
solution = Newton(0,f,df,1e-10,1e3)

# and then check the error:
f(solution) # super teeny tiny!

1.7763568394002505e-15

## Exercise on strings and lists

Preliminaries: a string is a sequence of characters. You can access the elements using square brackets `[index]`.

In [ ]:
# playing a bit around with indexes
s = "supercalifragilisticexpialidocious"
s[:20]

'supercalifragilistic'

Exercise: write a function that takes a list of strings and returns a list in which each element is a list of "rhyming" strings. For "rhyming" here we mean that the last 2 letters of the word should match.  

[I know that this is hardly a rhyming rule, but bear with me.]


Example:
list = ["cat","sip","trick","mat","lip","stick","trip"]
rhymator(mylist) ==

In [ ]:
def rhymator(mylist):
  #your code here
  temp_list = mylist.copy()
  rhymelist = []

  while len(temp_list)>0: # leveraging on our temp list that we are going to reduce of every string we put in a rhyme group
    key = temp_list[0][-2:] # rhyme key
    rhyme_group = []   # (for now) empty rhyme group

    for j in range(len(mylist)):
      candidate = mylist[j]

      if candidate[-2:]==key: # if the candidate shares the same key,
        rhyme_group.append(candidate) # we add it to the rhyme group
        temp_list.remove(candidate) # and we delete it from the temp list

    rhymelist.append(rhyme_group)
  return(rhymelist)

In [ ]:
mylist = ["cat","sip","trick","mat","lip","stick","trip","platypus"]
rhymator(mylist)

[['cat', 'mat'], ['sip', 'lip', 'trip'], ['trick', 'stick'], ['platypus']]

## Exercise on prime numbers and list comprehensions

Write and test a function called <code>my_primes</code> that takes as its argument a single <code>n</code>, which you can assume to be an integer greater than 1, and, using the sieve of Eratosthenes, returns a list of all the primes between 2 and <code>n</code> inclusive.


1. Create a list of consecutive integers from 2 through n: (2, 3, 4, ..., n).
2. Initially, let p equal 2, the smallest prime number.
3. Enumerate the multiples of $p$ bigger or equal than $p^2$, by counting in increments of $p$ from $p^2$ to $n$, and mark them in the list.
4. Find the smallest number in the list greater than $p$ that is not marked. If there was no such number, stop.  Otherwise, let $p$ now equal this new number (which is the next prime), and repeat from step 3.
5. When the algorithm terminates, the numbers remaining not marked in the list are all the primes below $n$.

In [ ]:
# list comprehensions
["platypus" for i in range(1,10) if i%3==0]

['platypus', 'platypus', 'platypus']

In [ ]:
def my_primes(n):
    # your code here
    isprime = [True for i in range(n+1)] # marking list
    p = 2 # we start from 2, the smallest prime number
    while(p**2 <= n) : # marking as from 3.
      if (isprime[p] == True):
        # Update all multiples of p
        for i in range(p*p, n+1, p):
          isprime[i] = False
      p += 1

    # now we can use the marking list to generate our output
    primes = [p for p in range(2,n+1) if isprime[p]]
    return primes

# check
my_primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]